* {
    border: solid 1px rgb(255, 255, 255);
}

body {

    background: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.cabecalho {
    /* width: 100vw; */
    height: 71px;
    background: red;
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    /* border-bottom: 46px solid #a39090;; Definindo a borda */
    /* box-shadow: 5px 5px 15px rgba(141, 137, 137, 0.5); Definindo a sombra */
}

.cabecalho .menu {
    width: 300px;
    /* background: red; */

    /* border: 2px solid #333; */
    /* Definindo a borda */
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    Definindo a sombra */
}

.cabecalho .menu .menu-lista {
    display: flex;
    justify-content: space-between;
}


.cabecalho .menu .menu-lista li {}

.cabecalho .menu .menu-lista li a {
    /* list-style-type: none; */
    text-decoration: none;
    color: black;
}

.cabecalho .menu .menu-lista li a img {
    width: 31px;
    height: 31px;
}


.rodape {
    background: #ff000080;
    height: 428px;
    align-items: center;
    display: flex;
    margin: 0 20px;
    border-radius: 6px;
    padding: 0 54px;
    color: rgb(197, 193, 193);
}